<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gfgfgfgf</title>
</head>
<body>
<form action="#" th:action="@{/address/updateaddressfromcity}" th:object="${address}"
      method="post" >

    <table border="0" cellpadding="10" >
        <tr>
            <td>ID:</td>
            <td><input type="text" th:field="*{addressid}" readonly="readonly" /></td>
        </tr>
        <tr>
            <td>Город:</td>
            <td><select th:field = "*{city.cityid}">
                <option th:value="${cityid}" th:text="${namecity}">
                </option>
            </select> </td>
        </tr>
        <tr>
            <td>ФИО:</td>
            <td><input type="text" th:field="*{person}" />
                <span class="validationError"
                      th:if="${#fields.hasErrors('person')}"
                      th:errors="*{person}">Name Error</span></td>
        </tr>
        <tr>
            <td>Улица:</td>
            <td><input type="text" th:field="*{street}" />
                <span class="validationError"
                      th:if="${#fields.hasErrors('street')}"
                      th:errors="*{street}">Name Error</span></td>
        </tr>
        <tr>
            <td>Здание:</td>
            <td><input type="text" th:field="*{building}" />
                <span class="validationError"
                      th:if="${#fields.hasErrors('building')}"
                      th:errors="*{building}">Name Error</span></td>
        </tr>
        <tr>
            <td>Офис:</td>
            <td><input type="text" th:field="*{office}" />
                <span class="validationError"
                      th:if="${#fields.hasErrors('office')}"
                      th:errors="*{office}">Name Error</span></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Сохранить</button> </td>
        </tr>
    </table>

</form>
</body>
</html>