<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Список клиентов</title>
</head>
<body>
<ul class="topnav">
    <li><a th:href="@{/}">Домой</a></li>
    <li><a th:href="@{/address}">Адреса</a></li>
    <li><a th:href="@{/countries}">Страны</a></li>
    <li><a th:href="@{/regions}">Регионы</a></li>
    <li><a th:href="@{/cities}">Города</a></li>
    <li class="right" sec:authorize="isAnonymous()" ><a th:href = "@{/login}">Вход</a></li>
    <li class="right" sec:authorize="isAuthenticated()" ><form th:action="@{/logout}" method="post"><input type="submit" value="Logout" /></form></li>
</ul>
<div class="scroll-table">
    <table class="table"  id = "countries">
        <thead>
        <tr>
            <th>Страна</th>
            <th>Регион</th>
            <th>Город</th>
            <th>Клиент</th>
            <th>Улица</th>
            <th>Здание</th>
            <th>Офис</th>
            <th sec:authorize="hasRole('ADMIN')"> Действие</th>
        </tr>
        </thead>
    </table>

    <div class="scroll-table-body">
        <table>
            <tbody>

        <tr th:each="address: ${addresses}" >
            <td th:text="${address.getCity().getRegion().getCountry().getFullname()}"></td>
            <td th:text="${address.getCity().getRegion().getNameregion()}"></td>
            <td th:text="${address.getCity().getNamecity()}"></td>
            <td th:text="${address.person}"></td>
            <td th:text="${address.street}"></td>
            <td th:text="${address.building}"></td>
            <td th:text="${address.office}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a sec:authorize="hasRole('ADMIN')" th:href="@{'/address/delete/' + ${address.addressid}}">Удалить</a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{'/address/edit/' + ${address.addressid}}">Изменить</a>
            </td>
        </tr>
            </tbody>
        </table>
    </div>
</div>

<form class="form-style-7" sec:authorize="hasRole('ADMIN')" action="#" th:action="@{/address/new}" th:object="${address}"
      method="post">
    <ul>
        <li>
            <label >Регион</label>
            <select th:field = "*{city.cityid}">
                <option th:each="city: ${cities}" th:value="${city.cityid}" th:text="${city.namecity}">
                </option>
            </select>

        </li>
        <li>
            <label > ФИО</label>
            <input type="text" th:field="*{person}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('person')}"
                  th:errors="*{person}">Name Error</span>
        </li>
        <li>
            <label > Улица</label>
            <input type="text" th:field="*{street}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('street')}"
                  th:errors="*{street}">Name Error</span>
        </li>
        <li>
            <label > Номер здания</label>
            <input type="text" th:field="*{building}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('building')}"
                  th:errors="*{building}">Name Error</span>
        </li>
        <li>
            <label > Офис</label>
            <input type="text" th:field="*{office}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('office')}"
                  th:errors="*{office}">Name Error</span>
        </li>


        <li>
            <input type="submit" value="Добавить адрес" >
        </li>
    </ul>
</form>
</body>
</html>