<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Создание нового
    <a th:href="@{/register}">админа</a> </p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
<table class="table"  id = "addresses">
    <caption>Адреса</caption>
    <thead>
    <tr>
        <th>Id</th>
        <th>Страна</th>
        <th>Регион</th>
        <th>Город</th>
        <th>Клиент</th>
        <th>Улица</th>
        <th>Здание</th>
        <th>Офис</th>
        <th>Действия</th>
    </thead>
    <tbody>
    </tr>
    <tr th:each="address: ${addresses}">
        <td th:text="${address.addressid}"></td>
        <td th:text="${address.getCity().getRegion().getCountry().getFullname()}"></td>
        <td th:text="${address.getCity().getRegion().getNameregion()}"></td>
        <td th:text="${address.getCity().getNamecity()}"></td>
        <td th:text="${address.person}"></td>
        <td th:text="${address.street}"></td>
        <td th:text="${address.building}"></td>
        <td th:text="${address.office}"></td>
        <td>
            <a th:href="@{'admin/delete/' + ${address.addressid} + '/address'}">Удалить</a>
            <a th:href="@{'admin/edit/' + ${address.addressid} + '/address'}">Изменить</a>
        </td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/admin/newaddress}" th:object="${address}"
      method="post">
    <table border="0" cellpadding="10">
        <tr>
            <td>Город:</td>
            <td><select th:field = "*{city.cityid}">
                <option th:each="city: ${cities}" th:value="${city.cityid}" th:text="${city.namecity}">
                </option>
            </select> </td>
        </tr>
        <tr>
            <td>ФИО:</td>
            <td><input type="text" th:field="*{person}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('person')}"
                      th:errors="*{person}">Name Error</span></td>
        </tr>
        <tr>
            <td>Улица:</td>
            <td><input type="text" th:field="*{street}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('street')}"
                      th:errors="*{street}">Name Error</span></td>
        </tr>
        <tr>
            <td>Номер здания:</td>
            <td><input type="text" th:field="*{building}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('building')}"
                      th:errors="*{building}">Name Error</span></td>
        </tr>
        <tr>
            <td>Номер офиса:</td>
            <td><input type="text" th:field="*{office}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('office')}"
                      th:errors="*{office}">Name Error</span></td>
        </tr>

        <tr>
            <td colspan="2"><button type="submit">Сохранить</button> </td>
        </tr>
    </table>
</form>

<table class="table" id = "cities">
    <caption>Города</caption>
    <thead>
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Регион</th>
        <th>Страна</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="city: ${cities}">
        <td  th:text="${city.cityid}"></td>
        <td th:text="${city.namecity}"></td>
        <td th:text="${city.getRegion().getNameregion()}"></td>
        <td th:text="${city.getRegion().getCountry().getFullname()}"></td>
        <td>
            <a th:href="@{'admin/delete/' + ${city.cityid} + '/city'}">Удалить</a>
            <a th:href="@{'admin/edit/' + ${city.cityid} + '/city'}">Изменить</a>
        </td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/admin/newcity}" th:object="${city}"
      method="post">
    <table border="0" cellpadding="10">
        <tr>
            <td>Регион:</td>
            <td><select th:field = "*{region.regionid}">
                <option th:each="region: ${regions}" th:value="${region.regionid}" th:text="${region.nameregion}">
                </option>
            </select> </td>
        </tr>
        <tr>
            <td>Название:</td>
            <td><input type="text" th:field="*{namecity}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('namecity')}"
                      th:errors="*{namecity}">Name Error</span></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Сохранить</button> </td>
        </tr>
    </table>
</form>

<table class="table"  id = "regions">
    <caption>Регионы</caption>
    <thead>
    <tr>
        <th >Id</th>
        <th> Страна</th>
        <th>Название</th>
        <th> Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="region: ${regions}">
        <td th:text="${region.regionid}"></td>
        <td th:text="${region.getCountry().getFullname()}"></td>
        <td th:text="${region.nameregion}"></td>
        <td>
            <a th:href="@{'admin/delete/' + ${region.regionid} + '/region'}">Удалить</a>
            <a th:href="@{'admin/edit/' + ${region.regionid} + '/region'}">Изменить</a>
        </td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/admin/newregion}" th:object="${region}"
      method="post">
    <table border="0" cellpadding="10">
        <tr>
            <td>Регион:</td>
            <td><select th:field = "*{country.countryid}">
                <option th:each="country: ${countries}" th:value="${country.countryid}" th:text="${country.fullname}">
                </option>
            </select> </td>
        </tr>
        <tr>
            <td>Название:</td>
            <td><input type="text" th:field="*{nameregion}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('nameregion')}"
                      th:errors="*{nameregion}">Name Error</span></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Сохранить</button> </td>
        </tr>
    </table>
</form>

<table class="table" id = "countries">
    <caption>Страны</caption>
    <thead>
    <tr>
        <th >Id</th>
        <th>Полное название</th>
        <th>Краткое</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="country: ${countries}">
        <td th:text="${country.countryid}"></td>
        <td th:text="${country.fullname}"></td>
        <td th:text="${country.shortname}"></td>
        <td>
            <a th:href="@{'admin/delete/' + ${country.countryid} + '/country'}">Удалить</a>
            <a th:href="@{'admin/edit/' + ${country.countryid} + '/country'}">Изменить</a>
        </td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/admin/newcountry}" th:object="${country}"
      method="post">
    <table border="0" cellpadding="10">
        <tr>
            <td>Название:</td>
            <td><input type="text" th:field="*{fullname}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('fullname')}"
                      th:errors="*{fullname}">Name Error</span> </td>
        </tr>
        <tr>
            <td>Краткое:</td>
            <td><input type="text" th:field="*{shortname}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('shortname')}"
                      th:errors="*{shortname}">Name Error</span> </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Сохранить</button> </td>
        </tr>
    </table>
</form>

</body>
</html>