<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="topnav">
    <li><a th:href="@{/}">Домой</a></li>
    <li><a th:href="@{/address}">Адреса</a></li>
    <li><a th:href="@{/countries}">Страны</a></li>
    <li><a th:href="@{/regions}">Регионы</a></li>
    <li><a th:href="@{/cities}">Города</a></li>
    <li class="right" sec:authorize="isAnonymous()" ><a th:href = "@{/login}">Вход</a></li>
    <li class="right" sec:authorize="isAuthenticated()"><a th:href = "@{/logout}">Выход</a></li>
</ul>
<div class="scroll-table">
    <table class="table"  id = "countries">
        <thead>
    <tr>
        <th>Название</th>
        <th>Регион</th>
        <th>Страна</th>
        <th> Действие</th>
    </tr>
        </thead>
    </table>

    <div class="scroll-table-body">
        <table>
            <tbody>
    <tr th:each="city: ${cities}">
        <td th:text="${city.namecity}"></td>
        <td th:text="${city.getRegion().getNameregion()}"></td>
        <td th:text="${city.getRegion().getCountry().getFullname()}"></td>
        <td>
            <a th:href="@{'/address/' + ${city.cityid} + '/city'}">Показать клиентов</a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{'/cities/delete/' + ${city.cityid} + '/city'}">Удалить</a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{'/cities/edit/' + ${city.cityid} + '/city'}">Изменить</a>
        </td>
    </tr>
            </tbody>
        </table>
    </div>
</div>

<form class="form-style-7" sec:authorize="hasRole('ADMIN')" action="#" th:action="@{/cities/new}" th:object="${city}"
      method="post">
    <ul>
        <li>
            <label >Регион</label>
            <select th:field = "*{region.regionid}">
                <option th:each="region: ${regions}" th:value="${region.regionid}" th:text="${region.nameregion}">
                </option>
            </select>

        </li>
        <li>
            <label > Название</label>
            <input type="text" th:field="*{namecity}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('namecity')}"
                  th:errors="*{namecity}">Name Error</span>
        </li>
        <li>
            <input type="submit" value="Добавить город" >
        </li>
    </ul>
</form>
</body>
</html>