<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="menu">
    <ul>
        <li><a th:href="@{/address}">Адреса</a></li>
        <li><a th:href="@{/countries}">Страны</a></li>
        <li><a th:href="@{/regions}">Регионы</a></li>
        <li><a th:href="@{/cities}">Города</a></li>
        <li><a th:href = "@{/admin}">админ</a></li>
    </ul>
</div>
<table class="table"  id = "cities">
    <thead>
    <tr>
        <th>Название</th>
        <th>Регион</th>
        <th>Страна</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="city: ${cities}">
        <td th:text="${city.namecity}"></td>
        <td th:text="${city.getRegion().getNameregion()}"></td>
        <td th:text="${city.getRegion().getCountry().getFullname()}"></td>
        <td>
            <a th:href="@{'/address/city/' + ${city.cityid} + '/addresses'}">Показать клиентов</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>