<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a th:href="@{/}"><img src="/static/images/home.png" width="68" height="68" border="0" alt=""></a></p>
<div class="scroll-table">
<form class="form-style-7" action="#" th:action="@{/cities/updatecity}" th:object="${city}"
      method="post">
    <ul>
        <li>
            <label >ID</label>
            <input type="text" th:field="*{cityid}" readonly="readonly" />

        </li>
        <li>
            <label >Страна</label>
            <select th:field = "*{region.regionid}">
                <option th:each="region: ${regions}" th:value="${region.regionid}" th:text="${region.nameregion}">
                </option>
            </select>

        </li>
        <li>
            <label >Название</label>
            <input type="text" th:field="*{namecity}" />
            <span class="validationError"
                  th:if="${#fields.hasErrors('namecity')}"
                  th:errors="*{namecity}">Name Error</span></td>
        </li>
        <li>
            <input type="submit" value="Изменить" >
        </li>
    </ul>
</form>

</body>
</html>