<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="topnav">
    <li><a th:href="@{/}">Домой</a></li>
    <li><a th:href="@{/address}">Адреса</a></li>
    <li><a th:href="@{/countries}">Страны</a></li>
    <li><a th:href="@{/regions}">Регионы</a></li>
    <li><a th:href="@{/cities}">Города</a></li>
    <li class="right" sec:authorize="isAnonymous()" ><a th:href = "@{/login}">Вход</a></li>
    <li class="right" sec:authorize="isAuthenticated()"><a th:href = "@{/logout}">Выход</a></li>
</ul>
<form class="form-style-7" action="#" th:action="@{/cities/updatecity}" th:object="${city}"
      method="post">
    <ul>
        <li>
            <label >ID</label>
            <input type="text" th:field="*{cityid}" readonly="readonly" />

        </li>
        <li>
            <label >Страна</label>
            <select th:field = "*{region.regionid}">
                <option th:each="region: ${regions}" th:value="${region.regionid}" th:text="${region.nameregion}">
                </option>
            </select>

        </li>
        <li>
            <label >Название</label>
            <input type="text" th:field="*{namecity}" />
            <span class="validationError"
                  th:if="${#fields.hasErrors('namecity')}"
                  th:errors="*{namecity}">Name Error</span></td>
        </li>
        <li>
            <input type="submit" value="Изменить" >
        </li>
    </ul>
</form>

</body>
</html>