<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1"  id = "countries">
    <tr>
        <th style="visibility:hidden">Id</th>
        <th>Полное название</th>
        <th>Краткое</th>
    </tr>
    <tr th:each="country: ${countries}">
        <td style="visibility:hidden" th:text="${country.countryid}"></td>
        <td th:text="${country.fullname}"></td>
        <td th:text="${country.shortname}"></td>
        <td>
            <a th:href="@{'/regions/' + ${country.countryid} + '/country'}">Показать регионы</a>
        </td>
    </tr>

</table>
</body>
</html>