<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="sidebar">
    <div><a class="text" th:href="@{/address}">Адреса</a></div>
    <div><a class="text" th:href="@{/countries}">Страны</a></div>
    <div><a class="text" th:href="@{/regions}">Регионы</a></div>
    <div><a class="text" th:href="@{/cities}">Города</a></div>
    <div  sec:authorize="isAnonymous()"> <a class="text" th:href = "@{/login}">Вход</a></div>
    <div sec:authorize="isAuthenticated()" ><a class="text" href="javascript: document.logoutForm.submit()" role="menuitem"> Выйти</a></div>
</div>

<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
<P align="center" sec:authorize="isAuthenticated()"> Вы вошли как администатор</P>

<body>

<form  sec:authorize="isAuthenticated()" class="form-style-7" method="POST" th:action="@{/register}" id="loginForm">
    <ul>
        <li>
            <label for="username">Имя пользователя: </label>
            <input type="text" name="username"/><br/>

        </li>
        <li>

            <label for="password">Пароль:</label>
            <input type="password" name="password"/><br/>
        </li>
        <li>
            <label for="confirm">Повторите пароль: </label>
            <input type="password" name="confirm"/><br/>
        </li>

        <li>
            <input type="submit" value="Создать нового администратора" >
        </li>
    </ul>
</form>
</body>
</html>