<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:if="${error}">
    Невозможно войти. Проверьте свое имя пользователя и пароль.
</div>
<form class="form-style-7" method="POST" th:action="@{/login}" id="loginForm">
    <ul>
        <li>

            <label for="username">Имя пользователя: </label>
            <input type="text" name="username" id="username" />

        </li>
        <li>

            <label for="password">Пароль: </label>
            <input type="password" name="password" id="password" />
        </li>
        <li>
            <input type="submit" value="Вход" >
        </li>
    </ul>
</form>
</body>
</html>