<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="topnav">
    <li><a th:href="@{/}">Домой</a></li>
    <li><a th:href="@{/address}">Адреса</a></li>
    <li><a th:href="@{/countries}">Страны</a></li>
    <li><a th:href="@{/regions}">Регионы</a></li>
    <li><a th:href="@{/cities}">Города</a></li>
    <li class="right" sec:authorize="isAnonymous()" ><a th:href = "@{/login}">Вход</a></li>
    <li class="right" sec:authorize="isAuthenticated()"><a th:href = "@{/logout}">Выход</a></li>
</ul>
<form class="form-style-7" action="#" th:action="@{/regions/updateregionfromcity}" th:object="${region}"
      method="post">
    <ul>
        <li>
            <label >ID</label>
            <input type="text" th:field="*{regionid}" readonly="readonly" /></td>

        </li>
        <li>
            <label >Страна</label>
            <select th:field = "*{country.countryid}">
                <option th:value="${countryid}" th:text="${fullname}">
                </option>
            </select>

        </li>
        <li>
            <label >Название</label>
            <input type="text" th:field="*{nameregion}" />
            <span class="validationError"
                  th:if="${#fields.hasErrors('nameregion')}"
                  th:errors="*{nameregion}">Name Error</span>
        </li>
        <li>
            <input type="submit" value="Изменить" >
        </li>
    </ul>
</form>
</body>
</html>