<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a th:href="@{/}"><img src="/static/images/home.png" width="68" height="68" border="0" alt=""></a></p>
<div class="scroll-table">
<form class="form-style-7" action="#" th:action="@{/regions/update}" th:object="${region}"
      method="post">
    <ul>
        <li>
            <label >ID</label>
            <input type="text" th:field="*{regionid}" readonly="readonly" />

        </li>
        <li>
            <label >Страна</label>
            <select th:field = "*{country.countryid}">
                <option th:each="country: ${countries}" th:value="${country.countryid}" th:text="${country.fullname}">
                </option>
            </select>

        </li>
        <li>
            <label >Название</label>
            <input type="text" th:field="*{nameregion}" />
            <span class="validationError"
                  th:if="${#fields.hasErrors('nameregion')}"
                  th:errors="*{nameregion}">Name Error</span>
        </li>
        <li>
            <input type="submit" value="Изменить" >
        </li>
    </ul>
</form>
</body>
</html>