<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/admin/updateregion}" th:object="${region}"
      method="post">

    <table border="0" cellpadding="10">
        <tr>
            <td>ID:</td>
            <td><input type="text" th:field="*{regionid}" readonly="readonly" /></td>
        </tr>
        <tr>
            <td>Страна:</td>
            <td><select th:field = "*{country.countryid}">
                <option th:each="country: ${countries}" th:value="${country.countryid}" th:text="${country.fullname}">
                </option>
            </select> </td>
        </tr>
        <tr>
            <td>Название:</td>
            <td><input type="text" th:field="*{nameregion}" />
                <span class="validationError"
                      th:if="${#fields.hasErrors('nameregion')}"
                      th:errors="*{nameregion}">Name Error</span></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Сохранить</button> </td>
        </tr>
    </table>

</form>
</body>
</html>